<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.10" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.Extensions.Logging" version="3.2.0.0" targetFramework="net45" />
  <package id="Ninject.Extensions.Logging.Log4net" version="3.2.1.0" targetFramework="net45" />
  <package id="SharpDX" version="2.6.2" targetFramework="net45" />
  <package id="SharpDX.Direct3D11" version="2.6.2" targetFramework="net45" />
  <package id="SharpDX.DXGI" version="2.6.2" targetFramework="net45" />
  <package id="SharpDX.Toolkit" version="2.6.2" targetFramework="net45" />
  <package id="SharpDX.Toolkit.Game" version="2.6.2" targetFramework="net45" />
  <package id="SharpDX.Toolkit.Graphics" version="2.6.2" targetFramework="net45" />
  <package id="SharpDX.Toolkit.Input" version="2.6.2" targetFramework="net45" />
  <package id="SharpDX.XInput" version="2.6.2" targetFramework="net45" />
</packages>